<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<style>
.inline-radio {
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #b6b6b6;
  margin-bottom: 2px;
}

.inline-radio div {
  position: relative;
  flex: 1;
}

.inline-radio input {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.inline-radio label {
    position: absolute;
    top: 0; left: 0;
    color: #b6b6b6;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    border-right: 1px solid #b6b6b6;
}

.inline-radio div:last-child label {
  border-right: 0;
}

.inline-radio input:checked + label {
  background: #1572fc;
  font-weight: 500;
  color: rgb(253, 252, 252);
}
</style>
</head>
<body>
<div class="container">
    <div class="row">Viblioteca - 学会ウェビナー検索</div>
    <div class="row">
        <input id="searchInput" class="form-control" placeholder="検索キーワードを入力してください(例: 人工知能)">
    </div>
    <div class="row">
        <div id="orderOptions" class="col">並び替え:
            <input id="orderByPublishedAt" type="radio" name="order" class="form-check-input" style="display: inline-block;" value="publishedAt" checked>
            <label for="orderByPublishedAt" class="form-check-label">新着順</label>
            &nbsp;
            <input id="orderByViewCount" type="radio" name="order" class="form-check-input" style="display: inline-block;" value="viewCount">
            <label for="orderByViewCount" class="form-check-label">再生回数</label>
            &nbsp;
            <input id="orderByLikeCount" type="radio" name="order" class="form-check-input" style="display: inline-block;" value="likeCount">
            <label for="orderByLikeCount" class="form-check-label">いいね回数</label>
        </div>
    </div>
    <br/>
    <div id="resultTitle" class="row">
        <div class="col-10"><span data-summary></span></div>
        <div class="col-2"><span style="text-align: right;">
            <div class="inline-radio">
                <div><input type="radio" name="viewMode" value="grid" checked>
                    <label class="material-icons-outlined">grid_view</label>
                </div>
                <div><input type="radio" name="viewMode" value="list">
                    <label class="material-icons-outlined">list</label>
                </div>
            </div>
        </span></div>
    </div>
    <div id="result" class="row" style="overflow: auto; min-height: 200px; max-height: 370px; display: flex; border: 1px solid silver; border-radius: 4px;">
        <br/>
        <font color="gray">検索結果がここに表示されます。</font>
    </div>
    <br/>
    <div id="pageTitle" class="row"></div>
    <div id="page" class="row" style="min-height: 400px; border: 1px solid silver; border-radius: 4px;">
        <br/>
        <font color="gray">クリックしたページがここに表示されます。</font>
    </div>
    <template id="searchResultPanel">
        <div class="btn btn-light" data-toggle="button" style="position: relative; overflow: hidden; width:312px; height:312px; display: flexbox; border: 1px solid silver; border-radius: 4px;">
            <small>[<span data-orgName title="組織名"></span>]</small>
            <span data-viewicon class="material-icons-outlined" style="font-size: 1rem; vertical-align: text-bottom;" title="再生回数">preview</span>
            <span data-viewcount style="font-size: 1rem" title="再生回数"></span>
            <span data-favicon class="material-icons-outlined" style="font-size: 1rem; vertical-align: text-bottom;" title="いいね回数">thumb_up</span>
            <span data-favcount style="font-size: 1rem" title="いいね回数" data-favcount></span>
            <br/>
            <small><span data-title title="タイトル"></span></small><br/>
            <img data-thumbnail title="サムネイル" src="" width="220px" height="100px" style="padding: 2px; margin: 0px; object-fit: contain; left: -8px;"><br/>
            <small><font color="dimgray"><span data-description title="説明"></span></font><br/></small>
            <small>(<span data-publishedAt title="公開日"></span>)</small>
        </div>
    </template>
    <template id="searchResultRow">
        <div class="btn btn-light" data-toggle="button" style="position: relative; overflow: hidden; width:100%; display: flexbox; border: 1px solid silver; border-radius: 4px;">
            <small>[<span data-orgName title="組織名"></span>]</small>
            <span data-viewicon class="material-icons-outlined" style="font-size: 1rem; vertical-align: text-bottom;" title="再生回数">preview</span>
            <span data-viewcount style="font-size: 1rem" title="再生回数"></span>
            <span data-favicon class="material-icons-outlined" style="font-size: 1rem; vertical-align: text-bottom;" title="いいね回数">thumb_up</span>
            <span data-favcount style="font-size: 1rem" title="いいね回数" data-favcount></span>
            &nbsp;&nbsp;<small>(<span data-publishedAt title="公開日"></span>)</small>
            <br/>
            <small><span data-title title="タイトル"></span></small>
            <div style="text-align: left;">
            <img data-thumbnail title="サムネイル" src="" width="360px" height="180px" style="float: right; padding: 2px; margin: 0px; object-fit: contain; left: -8px;">
            <small><font color="dimgray"><span data-description title="説明"></span></font><br/></small>
            </div>
        </div>
    </template>
    <template id="resultPage">
        <iframe width="640" height="720" src=""></iframe>
    </template>
    <template id="resultPageNotEmbeddable">
        <div>
            <h4>コンテンツのポリシーにより表示できません。<br/>下記のリンクをクリックすると，別ウィンドウでウェビナーページが表示されます。</h4>
            <big><a href="https://webinar.ieice.org/summary.php?id=177&expandable=1&code=PRS&sel=&year=2020" target="_blank">動画ページを開く</a></big>
        </div>
    </template>
    <hr>
    Copyright <a href="https://cnnc.jp/">Connections Co., Ltd.</a>
</div>
<script>
const videos = new Map();
window.addEventListener("load", ()=>{
    const params = new URLSearchParams(window.location.search);
    let query = params.get("q") || "";
    let order = params.get("o") || "publishedAt";
    let view = params.get("v") || "list";
    doSearch(query, order, view);
    redoSearch = ()=>{
        history.replaceState({}, null, `?q=${query}&o=${order}&v=${view}`)
        doSearch(query, order, view);
    }
    new SearchInput("#searchInput", query).onSearch = value=>{
        query = value;
        redoSearch();
    }
    new RadioButtons("order", order).onChanged = value=>{
        order = value;
        redoSearch();
    };
    new RadioButtons("viewMode", view).onChanged = value=>{
        view = value;
        redoSearch();
    }
});

class SearchInput{
    constructor(selector, initialValue){
        this.timer = null;
        this.lastKeyDownMillis = Date.now();
        this.input = document.querySelector("#searchInput");
        this.input.value = initialValue;
        this.input.addEventListener("keydown", ()=>{
            this.keydown();
        });
    }

    keydown(){
        this.lastKeyDownMillis = Date.now();
        if(this.timer != null) clearTimeout(this.timer);
        this.timer = setTimeout(()=>{
            this.onSearch(this.input.value);
            clearTimeout(timer);
            timer = null;
        }, 1000);
        console.log("timer start");
    }

    onSearch(query){
    }
}
class RadioButtons{
    constructor(name, initialValue){
        document.querySelectorAll(`input[type='radio'][name='${name}']`).forEach(elm=>{
            elm.addEventListener("click", e=>{
                this.onChanged(e.target.value);
            });
        });
        document.querySelector(`input[type='radio'][name='${name}'][value='${initialValue}'`).checked = true;
    }

    onChanged(value){
    }
}

function doSearch(query, order, view){
    console.log(`do search('${query}', ${order}, ${view})`);
    $.getJSON('search', {query: query, sort: order}, result=>{
        const template = document.querySelector(view == "grid" ? '#searchResultPanel' : '#searchResultRow');
        const resDiv = $("#result");
        resDiv.empty();
        $("#page").empty();
        videos.clear();

        const orgLength = view == "grid" ? 12 : 1000;
        const titleLength = view == "grid" ? 40 : 1000;
        const total = view == "grid" ? 68 : 2000;

        const resultTitle = (query != "") ?
            `検索結果: ${result.length}件(検索ワード: ${query})` :
            `全ての動画: ${result.length}件`;
        $("#resultTitle").find("span[data-summary]").text(resultTitle);
        $("#pageTitle").empty().append($("<span>").text("クリックしたページがここに表示されます。"));
        for(const r of result){
            const div = $(template.content.cloneNode(true));
            const org = r["org"];
            const title = r["title"];
            const description = r["description"];
            const publishedAt = r["publishedAt"];
            let shortOrg = org;
            if(shortOrg.length > orgLength){
                shortOrg = shortOrg.substring(0, orgLength - 1) + "…";
            }
            let shortTitle = title;
            if(shortTitle.length > titleLength){
                shortTitle = shortTitle.substring(0, titleLength - 1) + "…";
            }
            const indexText = r["indexText"];
            const idx = indexText.toLowerCase().indexOf(query.toLowerCase());
            let kwic = $("<span>");
            if(query.length > 0 && idx != -1){
                const rest = total - query.length;
                const prefixBegin = idx - (rest / 2);
                const prefix = indexText.substring(prefixBegin, idx).trim();
                kwic.append((prefixBegin == 0 ? "": "…") + prefix)
                    .append($("<b>").append($("<font>").attr("color", "#556666").text(indexText.substring(idx, idx + query.length))))
                    .append(indexText.substring(idx + query.length, idx + query.length + (rest - prefix.length)).trim() + "…");
            } else{
                kwic = (description.length <= total) ? description : description.substring(0, total) + "…";
            }
            div.find("span[data-orgName]").attr("title", org).text(shortOrg);
            if(r["type"] != "youtube"){
                div.find("span[data-viewicon]").css("display", "none");
                div.find("span[data-viewcount]").css("display", "none");
                div.find("span[data-favicon]").css("display", "none");
                div.find("span[data-favcount]").css("display", "none");
            } else{
                div.find("span[data-viewcount]").text(r["viewCount"] != -1 ? r["viewCount"] : "-");
                div.find("span[data-favcount]").text(r["likeCount"] != -1 ? r["likeCount"] : "-");
            }
            div.find("span[data-title]").attr("title", title).text(`${shortTitle}`);
            div.find("span[data-description]").attr("title", description).append(kwic);
            div.find("span[data-publishedAt]").append(publishedAt + "公開");
            const thumb = r["thumbUrl"] == "nothumb.png" ? "/static/img/nothumb.png" : r["thumbUrl"].replace("http:", "https:");
            div.find("img[data-thumbnail]").attr("src", thumb);
            resDiv.append(div);
            const id = r["id"];
            const embeddable = r["embeddable"];
            videos.set(id, {
                "type": r["type"],
                "url": r["url"],
                "embeddable": r["embeddable"],
                "thumbUrl": r["thumbUrl"]});
            resDiv.find("div:last").on("click", ()=>{
                let pageNode = null;
                const v = videos.get(id);
                if(v["embeddable"]){
                    pageNode = $(document.querySelector('#resultPage').content.cloneNode(true));
                    pageNode.find("iframe").attr("src", v["url"]);
                } else{
                    pageNode = $(document.querySelector("#resultPageNotEmbeddable").content.cloneNode(true));
                    pageNode.find("a").attr("href", v["url"]);
                }
                const pageContainer = $("#page");
                pageContainer.empty().append(pageNode);
                $("#pageTitle").empty().append($("<span>").text(`表示中のページ: [${org}] ${title}`));
            });
        }
    }).fail(function(XMLHttpRequest, textStatus, errorThrown){
        alert(errorThrown);
    });
}
</script>
</body>
</html>
